body.home{
    background-image: url(../images/background-home-desktop.jpg);
    color: white;
    margin-right: 0;
}
body.destination-moon{
    background-image: url(../images/background-destination-desktop.jpg);
    color: white;
    margin-right: 0;
}

.header{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo-img{
    width: 3%;
    margin: 37px 0 0 37px;
    position: absolute;
}
.top-line{
    position: relative;
    width: 45%;
    left: 110px;
    top: 50px;
    border: hidden;
    border-bottom: inset #6d6d6d 2px;;
}
.nav{
    background-color: rgba(60, 58, 78, 0.8);
    height: 50px;
    width: 50%;
    padding-top: 30px;
    float: right;
    margin-top: 20px;
    text-align: center;
}
.btn {
    font-family: 'Barlow', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-decoration: none;
    padding: 0 40px 0 5px;
    word-spacing: 6px;
  }
.btn:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-underline-offset: 30px;
}


.middle{
    position: relative;
    top: 20rem;
    left: 125px;
    width: 450px;
}
.line-1{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-bottom: 6px;
}
.line-2{
    font-family: 'Bellefair', sans-serif;
    font-size: 150px;
    letter-spacing: 0;
    margin: 10px 0 20px 0;    
}
.line-3{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
}
.dot{
    height: 274px;
    width: 274px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 950px;
    top: 425px;
    z-index: 1;
}
.dot-text{
    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
    color: black;
    letter-spacing: 2px;
    position: absolute;
    left: 1015px;
    top: 510px;
    z-index: 2;
}

.middle-moon{
    position: relative;
    top: 25rem;
    left: 60rem;
    width: 400px;
    text-align: left;
}
.line-1-moon{
    font-family: 'Bellefair', sans-serif;
    font-size: 100px;
    letter-spacing: 0;
    margin: 20px 0 20px 0;    
}